
@{
    ViewData["Title"] = "Sample";
}

<h1>Please Enter the Following:</h1>

hover over this <div class="randomclass"> <i class="fa-solid fa-glass-water-droplet"> </i></div>





<form method="post" action="/home/samplelogin">
    FirstName: <input type="text" name="firstname"/><br /><br />
    LastName: <input type="text" name="lastname"/><br /><br />
    Email:&ensp;&ensp;&ensp;&ensp;    <input type="text" name="email"/><br /><br />
    Password: <input type = "password" name="password" /><br /><br />
     <input type ="submit" />

</form>

