
@{
    ViewData["Title"] = "Login";
}

<h1>Please Login</h1>

<form method="post" action="/home/processlogin">
    UserName:<input type="text" name="username"/><br /><br />
    PassWord: <input type = "password" name="password" /><br /><br />
    <input type ="submit" />
</form>